/* Muda a fonte e remove as margens padrões do corpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* Cabeçalho com fundo colorido, texto branco, espaçamento interno de 10px */
header {
    background-color: #660030;
    color: #fff;
    padding: 10px;
}
/* Coloca os itens da lista em linha horizontal com espaçamento de 100px a direita */
nav ul li {
    display: inline;
    margin-right: 100px;
}
/* Fixa a cor branca nos textos dos itens da lista */
nav ul li a {
    color: #fff;
    text-decoration: none;
    
}
/* Ao passar o mouse por cima do texto ele muda de cor para laranja */
nav a:hover {
    color: rgb(207, 93, 0);
}
/* Muda a cor do texto ao ser clicado */
nav a:focus {
    color: rgb(255, 0, 0);
}
/* Classe que cria um fundo na cor laranja no formato retangular para os textos principais */
.bordar-preenchida {
    background-color: rgb(207, 93, 0);
    padding: 100px;
    color: #fff;
    width: 70%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 15%;
    box-sizing: border-box;
    border-radius: 20px;
}
/* Classe que cria um espaçamento entre itens da lista */
.espaco-listas {
    margin-bottom: 15px;
}
/* Corpo do formulário centralizado */
form {
    position: absolute;
    top: 25%;
    left: 30%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/* Estilização nas entradas de texto */
input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
/* Estilização na entrada do botão de envio */
input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* Estilização quando o mouse passa por cima do botão de envio mudando a cor do fundo para cinza claro */
input[type="submit"]:hover {
    background-color: #555;
}
/* Estilização do rodapé seguindo as cores e formato do menu de navegação */
footer {
    background-color: #660030;
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}